<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CapstoneSystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CapstoneSystem.My.MySettings.ConString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MarginSystem;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CapstoneSystem.My.MySettings.MasterDatabaseConString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=master;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="CapstoneSystem.My.MySettings.DatabaseConString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BackupRecovery;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <CapstoneSystem.My.MySettings>
            <setting name="ReportingProjectPath" serializeAs="String">
                <value>"C:\Users\GulaManYOW\Desktop\System\SystemReporting\SystemReporting\bin\Debug\SystemReporting.exe"</value>
            </setting>
        </CapstoneSystem.My.MySettings>
    </userSettings>
</configuration>
